.form{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form__title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.form__input-container{
    width: 400px;
}
.form__input-label{
    display: block;
}
label + input{
    margin-top: 10px;
}
.form__input{
    background-color: #fafafa;
    padding: 15px 10px;
    border-radius: 5PX;
    border: 1px solid #dadada;
    width: 100%;
}
.form__input::-webkit-inner-spin-button, .form__input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
.form__input-terms{
    color: #797979;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 14px;
}
.form__input-terms input{
    width: 20px;
    height: 20px;
}
.form__input-terms label a{
    color: #6194ce;
    margin-left: 5px;
}
.form__input-terms label a:hover{
    text-decoration: underline;
}
.form__buttons{
    display: flex;
    justify-content: space-between;
}
.form__button{
    padding: 15px 10px;
    border-radius: 5px;
    color: #fff;
    width: 175px;
    margin-top: 20px;
    transition: .3s;
}
.form__button:hover{
    transform: translateY(-2px);
}
.form__button[type=submit]{
    background-color: #6194ce;
    &:hover{
        background-color: #4972a0;
    }
}
.form__button[type=button]{
    background-color: #ce6161;
    &:hover{
        background-color: #8b3b3b;
    }
}