@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800);
body{
    font-family: 'Inter', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #FAFAFA;
}
#root{
    display: flex;
    padding: 0 10px;
    width: 100%;
    height: 100%;
}
.main{
    margin: 75px auto 0 auto;
}